<div class="container">
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your account!</div>
        <div class="input-container ic2">
        <input class="input" type="text"  [(ngModel)]='name' placeholder="Username" />
        </div>
        <div class="input-container ic2">
        <input class="input" type="email" name="email" [(ngModel)]='email' placeholder="Email" />
        </div>
        <div class="input-container ic2">
            <input class="input" type="date" [(ngModel)]='dob' placeholder="Date Of Birth" />
        </div>
        <div class="input-container ic2">
            <input class="input" type="password" [(ngModel)]='password' placeholder="Password" />
        </div>
        <div class="input-container ic2">
            <input class="input" type="password" [(ngModel)]='checkPassword' placeholder="Confirm Password" />
        </div>
        <p style="color: white; text-align: center;">{{message}}</p>
        <button class="submit" (click)="registerUser()">Submit</button>
        <p style="color: white; text-align: center;">Already Having an Account ? 
            <a style="color: white; cursor: pointer;" (click)="navigateToLogin()">
                Log in here
            </a>
        </p>
  </div>
</div>

<!-- <p>Register</p>
<div class="i-am-centered">
    <div class="row">
        <input type="text" [(ngModel)]='name' placeholder="Enter Username">
    </div>
    <div class="row">
        <input type="email" [(ngModel)]='email' placeholder="Enter Email">
    </div>
    <div class="row">
        <input type="date" [(ngModel)]='dob' placeholder="Date of Birth">
    </div>
    <div class="row">
        <input type="password" [(ngModel)]='password' placeholder="Password">
    </div>
    <div class="row">
        <input type="password" [(ngModel)]='checkPassword' placeholder="Password confirmation">
    </div>
    <button (click)="registerUser()">Login</button>
    <p>{{message}}</p>
</div> -->
