<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #15172b;">
	<i class="fa fa-play-circle-o navbar-brand" style="font-size:48px;color:white"></i>
	<a class="navbar-brand">Vision</a>
	<a class="navbar-brand" style="margin-left: 10px;">Hi there  !</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" href="/">Home </a>
			</li>
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" href="#" >Profile</a>
			</li>
			<li class="nav-item" style="margin-left: 5%; ">
				<a class="nav-link" href="/add-video">Add_Video</a>
			</li>
		</ul>
	</div>
	<a class="nav-link navbar-brand" style="font-size:15px;" href="/login" >Logout</a>
</nav>
