<nav class="navbar navbar-expand-lg " style="background-color: #15172b;">
	<i class="fa fa-play-circle-o navbar-brand" style="font-size:48px;color:white"></i>
	<a class="navbar-brand noHover">Vision</a>
	<a class="navbar-brand noHover" style="margin-left: 10px; color:bisque;">Hi there {{currentUser.username}} !</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" (click)="navigateToHome()" >Home </a>
			</li>
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" (click)="navigateToProfile(currentUser.id)" >Profile</a>
			</li>
			<li class="nav-item" style="margin-left: 5%; ">
				<a class="nav-link " (click)="navigateToAddVideo()" >Add_Video</a>
			</li>
		</ul>
	</div>
	<a class="nav-link navbar-brand" style="font-size:15px;" href="/login" >Logout</a>
</nav>
<div class='container'>
    <div class="form">
        <div class="title">Edit your Video</div>
		<div class="subtitle">(Video id refers to your youtube video id)</div>
        <div class="input-container ic2">
            <input class="input" type="text"  placeholder="Title" [(ngModel)]='title'/>
        </div>
        <div class="input-container ic2" style="height: 200px;">
            <textarea placeholder="Description" class="input" [(ngModel)]='description' style="resize: none;" rows="3"></textarea>
        </div>
        <div class="input-container ic2">
            <input class="input" type="text" style="cursor: not-allowed;" [(ngModel)]='videoId'  placeholder="Video Id" readonly/>
        </div>
        <div class="input-container ic2">
            <select 
                name="categories" 
                id="categories" 
                class="input"
                [(ngModel)]="selectedOption"
            >
                <option *ngFor="let category of categories">{{ category.title }}</option>
            </select>
        </div>
        <p style="color: white; text-align: center;">{{message}}</p>
        <button (click)="editCurrentVideo()" class="save" style="text-align: center;">Submit</button>
    </div>
</div>

