<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #15172b;">
	<i class="fa fa-play-circle-o navbar-brand" style="font-size:48px;color:white"></i>
	<a class="navbar-brand">Vision</a>
	<a class="navbar-brand" style="margin-left: 10px;">Hi there {{currentUser.name}} !</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" href="/">Home </a>
			</li>
			<li class="nav-item" style="margin-left: 5%;">
				<a class="nav-link" href="/user/{{2}}" >Profile</a>
			</li>
			<li class="nav-item" style="margin-left: 5%; ">
				<a class="nav-link" href="/add-video">Add_Video</a>
			</li>
			<li class="nav-item" style="margin-left: 5%; width: 500px;">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchInput"  >
			</li>
			<li class="nav-item" style="margin-left: 5%;">
				<button class="submit" type="submit" (click)="setSearchVariable()">Go</button>
			</li>
		</ul>
	</div>
	<a class="nav-link navbar-brand" style="font-size:15px;" href="/login" >Logout</a>
</nav>

<div class="row" style="margin: 0px;">
	<div class="column" style="margin-top: 10px; margin-left: 20px; margin-right: 20px;" *ngFor="let video of allVideos | search:searchString ">
		<div class="card" style="width: 18rem; border-radius: 20px; border-width: 3px; border-color:rgb(52,58,64) ;">
			<img class="card-img-top" style="border-radius: 17px;" src="{{video.imageLink}}" alt="image">
			<div class="card-body">
			<h5 class="card-title">{{video.title}}</h5>
			<p class="card-text">{{video.description}}</p>
			<a href="{{video.embedLink}}" class="btn btn-primary" style="background-color: rgb(52,58,64); border-color: rgb(52,58,64); border-radius: 20px;">Watch !</a>
			</div>
		</div>
	</div>
</div>

<!-- <div class="box">
  <div class="row header">
    <p><b>header</b>
      <br />
      <br />(sized to content)</p>
  </div>
  <div class="row content">
    <p>
      <b>content</b>
      (fills remaining space)
    </p>
  </div>
  <div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>
</div> -->
