.submit {
  background-color: white;
  border-radius: 12px;
  border: 0;
  color: black;
  height: 40px;
  width: 70px;
  outline: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container{
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form {
background-color: #15172b;
border-radius: 20px;
box-sizing: border-box;
height: 800px;
padding: 20px;
width: 400px;
}

.title {
color: #eee;
font-family: sans-serif;
font-size: 36px;
font-weight: 600;
margin-top: 30px;
}

.subtitle {
color: #eee;
font-family: sans-serif;
font-size: 16px;
font-weight: 600;
margin-top: 10px;
}

.input-container {
height: 50px;
position: relative;
width: 100%;
}

.ic1 {
margin-top: 40px;
}

.ic2 {
margin-top: 30px;
}

.input {
background-color: #303245;
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #eee;
font-size: 18px;
height: 100%;
outline: 0;
padding: 4px 20px 0;
width: 100%;
}

.placeholder {
color: white;
font-family: sans-serif;
left: 20px;
line-height: 14px;
pointer-events: none;
position: absolute;
transform-origin: 0 50%;
transition: transform 200ms, color 200ms;
top: 20px;
}

.submit:active {
background-color: grey;
}
.save {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  outline: 0;
  text-align: center;
  width: 100%;
  }

/* .row.header {
    flex: 0 1 auto;
    The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
   
  }*/

/* .row.header {
    flex: 1 1 auto;
  } */

/* .box .row.footer {
    flex: 0 1 40px;
  } */
